# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# --- Virtual environment ---
venv/
.env

# --- IDE / Editor ---
.vscode/
.idea/

# --- OS files ---
.DS_Store
Thumbs.db

# --- Docker ---
*.pid
*.log

# --- Secrets ---
service_account.json
.env
